* {
    margin: 0;
    padding: 0;
}

.main {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

form .Write-text {
    width: 40rem;
    height: 2rem;
}

form input::placeholder {
    font-size: 1rem;
    color: black;
    font-weight: 700;
    padding-left: 0.7rem;
}

.Write-text {
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
    padding-left: 0.7rem;
}

form .submit {
    width: 6rem;
    height: 2rem;
    background: rgb(17, 204, 237);
    border: none;
    color: rgb(4, 4, 39);
    font-weight: 800;
}

.ul-todo {
    list-style: none;
}

.ul-todo li {
    border: 2px solid;
    width: 47rem;
    height: 2rem;
    color: rgb(52, 109, 159);
    background: rgb(202, 199, 194);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
}

.todo-btn {
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.todo-btn button {
    width: 5rem;
    height: 1.5rem;
    border-radius: 3px;
    background: rgb(15, 164, 239);
    color: rgb(244, 243, 234);
    font-size: 1.2rem;
}